@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --text: #fff;
  --text-secundary: #e6d164;
  --btn: #f9d406;
  --bg: #0d0d0d;
  --red: #e2361f;
  --bg-app: #1d1d1d;
  --bg-card: #272727;
  --icon: #828282;
  --green: #007510;

  font: 18px/145%;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px; */
}

body {
  color: var(--text);
}

li {
  list-style: none;
}
